@import "../../assets/scss/colors.module";
@import "../../assets/scss/mixins.module";
.PasswordRecovery {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    .signUp {
        .link {
            color: $clr-persian-blue;
            text-decoration: none;
            font-weight: 500;
            &:hover {
                text-decoration: underline;
            }
        }
    }
}
@include dark-theme {
    .PasswordRecovery {
        .signUp {
            color: $dark-theme-gray-0;
        }
    }
}
