@import "../../assets/scss/colors.module";
@import "../../assets/scss/mixins.module";
.SignIn {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    .form {
        background-color: $light-theme-gray-0;
        display: flex;
        flex-direction: column;
        gap: 12px;
        max-width: 480px;
        width: 100%;
        padding: 24px;
        border-radius: 12px;
        color: $light-theme-gray-8;
        margin-bottom: 18px;
        box-shadow: 0px 100px 80px rgba(178, 183, 219, 0.05), 0px 41.7776px 33.4221px rgba(178, 183, 219, 0.0359427),
            0px 22.3363px 17.869px rgba(178, 183, 219, 0.0298054), 0px 12.5216px 10.0172px rgba(178, 183, 219, 0.025),
            0px 6.6501px 5.32008px rgba(178, 183, 219, 0.0201946),
            0px 2.76726px 2.21381px rgba(178, 183, 219, 0.0140573);
        border: 1px solid transparent;
        .title,
        .subtitle {
            color: $light-theme-gray-8;
        }
        .subtitle {
            color: $light-theme-gray-8;
            margin-bottom: 20px;
            line-height: 20px;
        }
        .forgotPassword {
            text-align: right;
            margin-bottom: 12px;
            .link {
                color: $clr-persian-blue;
                text-decoration: none;
                &:hover {
                    text-decoration: underline;
                }
            }
        }
    }
    .signUp {
        .link {
            color: $clr-persian-blue;
            text-decoration: none;
            font-weight: 500;
            &:hover {
                text-decoration: underline;
            }
        }
    }
}
@include dark-theme {
    .SignIn {
        .form {
            background-color: $dark-theme-gray-11;
            box-shadow: none;
            border-color: $dark-theme-gray-9;
            .title,
            .subtitle {
                color: $dark-theme-gray-0;
            }
        }
        .signUp {
            color: $dark-theme-gray-0;
        }
    }
}
