@import "../../assets/scss/colors.module";
@import "../../assets/scss/mixins.module";
@import "../../assets/scss/breakpoints.module";
.TermsOfUse {
    max-width: 1280px;
    margin: 0 auto;
    .title {
        text-align: center;
        margin-bottom: 48px;
        color: $light-theme-gray-8;
    }
    .termTitle {
        margin-bottom: 12px;
        line-height: 22px;
        color: $light-theme-gray-8;
    }
    .termContent {
        line-height: 22px;
        color: $light-theme-gray-11;
        margin-bottom: 36px;
    }
    .afterword,
    .lastUpdated {
        line-height: 22px;
        color: $light-theme-gray-11;
    }
}
@include dark-theme {
    .TermsOfUse {
        .title {
            color: $dark-theme-gray-2;
        }
        .termTitle {
            color: $dark-theme-gray-2;
        }
        .termContent,
        .afterword,
        .lastUpdated {
            color: $dark-theme-gray-0;
        }
    }
}
@include md-breakpoint {
    .TermsOfUse {
        .title {
            font-size: 26px;
            line-height: 28px;
            margin-bottom: 42px;
        }
    }
}

