@import "../../../../assets/scss/colors.module";
@import "../../../../assets/scss/mixins.module";
@import "../../../../assets/scss/breakpoints.module";
.Navbar {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 24px;
    grid-column: span 4;
    .navLink {
        color: $light-theme-gray-8;
        text-decoration: none;
        &.isActive {
            color: $clr-azure;
        }
    }
}
@include dark-theme {
    .Navbar {
        .navLink {
            color: $dark-theme-gray-2;
            &.isActive {
                color: $clr-azure;
            }
        }
    }
    .controls {
        .divider {
            background-color: $dark-theme-gray-7;
        }
    }
}
@include md-breakpoint {
    .Navbar {
        display: none;
    }
}