@import "../../assets/scss/colors.module";
@import "../../assets/scss/mixins.module";
@import "../../assets/scss/breakpoints.module";
.FAQ {
    max-width: 1280px;
    margin: 0 auto;
    .title {
        text-align: center;
        margin-bottom: 48px;
        color: $light-theme-gray-8;
    }
    .questionTitle {
        margin-bottom: 12px;
        line-height: 22px;
        color: $light-theme-gray-8;
    }
    .questionAnswer {
        line-height: 22px;
        color: $light-theme-gray-11;
        &:not(:last-of-type) {
            margin-bottom: 36px;
        }
    }
}
@include dark-theme {
    .FAQ {
        .title {
            color: $dark-theme-gray-2;
        }
        .questionTitle {
            color: $dark-theme-gray-2;
        }
        .questionAnswer {
            color: $dark-theme-gray-0;
        }
    }
}
@include md-breakpoint {
    .FAQ {
        .title {
            font-size: 26px;
            line-height: 28px;
            margin-bottom: 42px;
        }
    }
}
